* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 3%;
    text-align: center;
    background: #368bf2;
}

div {
    margin: 2% auto;
    width: 30%;
}

body {
    text-align: center;
    background: rgb(231, 230, 230);
    color: black;
}

section {
    width: 50%;
    margin: 2% auto;
    background: #368bf2;
    border-radius: 10px;
    font-size: 20px;
}

button {
    padding: 0.5% 2.5%;
    background: white;
    border: 2px solid #368bf2;
}

button:hover {
    background:gainsboro
}

input {
    border: 2px solid #368bf2;
    font-size: 25px;
}

section > h2 {
    font-size: 36px;
}

.description {
    margin-top: 3%;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.note {
    margin-top: 3%;
    margin-bottom: 3%;
    color: white;
    font-weight: bold;
}

ul {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid #368bf2;
    padding: 2% 0% 2% 15%;
}

li {
    flex-basis: 25%;
    font-size: 16px;
    margin-top: 10px;
    text-align: justify;
}

li:hover {
    cursor: pointer;
    color: #368bf2;
}

